@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url('fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style :  normal;
}

@theme {
  --font-sans: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
  --color-black : #121212;
  --color-white : #FAFAFA;
  --color-gray-100 : #7D7D7D;
  --color-gray-200 : #D0D3D7;
  --color-gray-300 : #E3E3E3;
  --color-gray-400 : #8F9297;
  --color-gray-500 : #75787E;
  --color-gray-600 : #64676D;
  --color-gray-700 : #474A50;
  --color-gray-800 : #36383E;
}

html,body {
  background-color: var(--color-black);

  /* iOS의 노치(상단바) 및 하단 홈 바 영역 대응 */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  display: flex;
  items : center;
  justify-content: center; 
  background-color: #000000;
}

/* 2. 앱 전용 컨테이너 (#root) 설정 */
#root {
  width: 100%;
  max-width: 430px; /* iPhone 15 Pro Max 등 최신 모바일 기기 너비 기준 */
  min-height: 100dvh;
  margin: 0 auto;
  background-color: var(--color-black); /* 실제 앱 배경색 */
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  /* iOS Safe Area 대응 */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  /* 앱처럼 보이기 위한 스타일링 */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

/* 스크롤바 숨기기 (선택 사항: 앱 느낌을 더 내고 싶을 때) */
#root::-webkit-scrollbar {
  display: none;
}

input, textarea {
  user-select: text;
  -webkit-user-select: text;
}

button {
  cursor : pointer;
}

@layer utilities {
  .H0 {
    font-size : 28px;
    font-weight : 700;
  }
  .H1 {
    font-size : 24px;
    font-weight : 500;
  }
  .H2 {
    font-size : 20px;
    font-weight : 600;
  }
  .H3 {
    font-size : 18px;
    font-weight : 600;
  }
  .H4 {
    font-size : 16px;
    font-weight : 600;
  }

  .ST0 {
    font-size : 20px;
    font-weight : 500;
  }
  .ST1 {
    font-size : 18px;
    font-weight : 500;
  }
  .ST2 {
    font-size : 16px;
    font-weight : 500;
  }

  .B0 {
    font-size : 18px;
    font-weight : 400;
  }
  .B1 {
    font-size : 16px;
    font-weight : 400;
  }
  .B2 {
    font-size : 14px;
    font-weight : 400;
  }
  
}